html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    color: #000;
    /* font-family: 'Cormorant Upright', sans-serif; */
    font-family: 'Playfair Display', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.2;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

button {
    border: none;
    padding: 0;
    cursor: pointer;
}

.header {
    position: absolute;
    left: 0;
    right: 0;    
}

.container {
    max-width: 1180px;
    padding: 0 10px;
    margin: 0 auto;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;

}

nav {
    color: #fff;    
}

.menu__list {
    display: flex;
    gap: 50px;
    font-size: 18px;
    font-weight: 600;
}

.menu__list-link:hover{
    text-decoration: underline;
}

/* main start */

/* section top start */

.main{
    background-image: url(../images/bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;    
    margin-bottom: 100px;
}

.top__title{
    position: relative;
    top: 450px;
    max-width: 570px;
    color: #fff;
    font-family: 'Dancing Script', cursive;
    font-size: 70px;
    font-weight: 700;
}

.top__title span{
    padding-left: 308px;
}

/* section top end */



.footer{
    background-image: url(../images/bg-footer.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 40px 0;
}

.footer__info{
    text-align: end;
    font-variant-numeric: lining-nums;
}

.footer__info-title{
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    padding-bottom: 20px;

}

.footer__info-text{
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    padding-bottom: 20px;
}

.footer__info-text:last-child{
    padding-bottom: 0;
}