html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    color: #000;
    /* font-family: 'Cormorant Upright', sans-serif; */
    font-family: 'Playfair Display', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.2;
    font-variant-numeric: lining-nums;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

button {
    border: none;
    padding: 0;
    cursor: pointer;
}

.header {
    position: absolute;
    left: 0;
    right: 0;
}

.container {
    max-width: 1180px;
    padding: 0 10px;
    margin: 0 auto;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;

}

nav {
    color: #fff;
}

.menu__list {
    display: flex;
    gap: 50px;
    font-size: 18px;
    font-weight: 600;
}

.menu__list-link:hover {
    text-decoration: underline;
}

/* main start */

/* section top start */

.main {
    background-color: #000;
}

.top {
    background-image: url(../images/bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    margin-bottom: 100px;

}

.top__title {
    position: relative;
    top: 450px;
    max-width: 570px;
    color: #fff;
    font-family: 'Dancing Script', cursive;
    font-size: 70px;
    font-weight: 700;
}

.top__title span {
    padding-left: 308px;
}

/* section top end */

/* jewelry start */

.jewelry {
    padding-bottom: 100px;
}

.jewelry__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0 80px;
    margin-bottom: 200px;
}

.right {
    padding-top: 150px;
    border-right: 1px solid white;
}

.left {
    padding-top: 150px;
    border-left: 1px solid white;
}

.jewelry__info {
    color: #fff;
    font-family: 'Cormorant Upright', sans-serif;
    text-align: center;
}

.jewelry__title {
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    color: white;
    padding-bottom: 50px;
    text-transform: capitalize;

}

.jewelry__descr {
    font-weight: 400;
    font-size: 24px;
    line-height: 40px;
    color: white;
}

/* ring112 start */

.slider {
    position: relative;
    width: 500px;
    margin: 0 auto;
}

.slider input[name="switch"] {
    display: none;
}

.switch {
    position: absolute;
    left: 0;
    bottom: -40px;
    text-align: center;
    width: 100%;
}

.switch label {
    display: inline-block;
    width: 16px;
    height: 16px;
    cursor: pointer;
    margin: 0 3px;
    border-radius: 50%;
    border: 5px solid black;
    border-color: white;
}

#btn1:checked~.switch label[for="btn2"] {
    background-color: white;
}

#btn1:checked~.switch label[for="btn3"] {
    background-color: white;
}

#btn2:checked~.switch label[for="btn1"] {
    background-color: white;
}

#btn2:checked~.switch label[for="btn3"] {
    background-color: white;
}

#btn3:checked~.switch label[for="btn1"] {
    background-color: white;
}

#btn3:checked~.switch label[for="btn2"] {
    background-color: white;
}


.slider__inner {
    overflow: hidden;
}

.slides {
    width: 300%;
    transition: all 0.5s;
}

.slides img {
    width: 500px;
    height: 500px;
    float: left;
    border-radius: 15px;
}

#btn1:checked~.slider__inner .slides {
    transform: translate(0);
}

#btn2:checked~.slider__inner .slides {
    transform: translate(-500px);
}

#btn3:checked~.slider__inner .slides {
    transform: translate(-1000px);
}

/* ring112 end */

/* ring309 start */

.ring309 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0 110px;
    margin-bottom: 100px;
}

.slider309 {
    position: relative;
    width: 500px;
    margin: 0 auto;
}

.slider309 input[name="switch309"] {
    display: none;
}

.switch309 {
    position: absolute;
    left: 0;
    bottom: -40px;
    text-align: center;
    width: 100%;
}

.switch309 label {
    display: inline-block;
    width: 16px;
    height: 16px;
    cursor: pointer;
    margin: 0 3px;
    border-radius: 50%;
    border: 5px solid black;
    border-color: white;
}

#btn-1:checked~.switch309 label[for="btn-2"] {
    background-color: white;
}

#btn-1:checked~.switch309 label[for="btn-3"] {
    background-color: white;
}

#btn-2:checked~.switch309 label[for="btn-1"] {
    background-color: white;
}

#btn-2:checked~.switch309 label[for="btn-3"] {
    background-color: white;
}

#btn-3:checked~.switch309 label[for="btn-1"] {
    background-color: white;
}

#btn-3:checked~.switch309 label[for="btn-2"] {
    background-color: white;
}

.slider__inner309 {
    overflow: hidden;
}

.slides309 {
    width: 300%;
    transition: all 0.5s;
}

.slides309 img {
    width: 500px;
    height: 500px;
    float: left;
    border-radius: 15px;
}

#btn-1:checked~.slider__inner309 .slides309 {
    transform: translate(0);
}

#btn-2:checked~.slider__inner309 .slides309 {
    transform: translate(-500px);
}

#btn-3:checked~.slider__inner309 .slides309 {
    transform: translate(-1000px);
}

/* ring309 end */

/* ring551 start */

.ring551 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0 110px;
    margin-bottom: 200px;
    padding-top: 100px;
    border-top: 1px solid white;
}

.slider551 {
    position: relative;
    width: 500px;
    margin: 0 auto;
}

.slider551 input[name="switch551"] {
    display: none;
}

.switch551 {
    position: absolute;
    left: 0;
    bottom: -40px;
    text-align: center;
    width: 100%;
}

.switch551 label {
    display: inline-block;
    width: 16px;
    height: 16px;
    cursor: pointer;
    margin: 0 3px;
    border-radius: 50%;
    border: 5px solid black;
    border-color: white;
}

#btn_1:checked~.switch551 label[for="btn_2"] {
    background-color: white;
}

#btn_1:checked~.switch551 label[for="btn_3"] {
    background-color: white;
}

#btn_2:checked~.switch551 label[for="btn_1"] {
    background-color: white;
}

#btn_2:checked~.switch551 label[for="btn_3"] {
    background-color: white;
}

#btn_3:checked~.switch551 label[for="btn_1"] {
    background-color: white;
}

#btn_3:checked~.switch551 label[for="btn_2"] {
    background-color: white;
}

.slider__inner551 {
    overflow: hidden;
}

.slides551 {
    width: 300%;
    transition: all 0.5s;
}

.slides551 img {
    width: 500px;
    height: 500px;
    float: left;
    border-radius: 15px;
}

#btn_1:checked~.slider__inner551 .slides551 {
    transform: translate(0);
}

#btn_2:checked~.slider__inner551 .slides551 {
    transform: translate(-500px);
}

#btn_3:checked~.slider__inner551 .slides551 {
    transform: translate(-1000px);
}

/* ring551 end */

/* ring643 start */

.ring643 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0 110px;
    margin-bottom: 100px;
}

.slider643 {
    position: relative;
    width: 500px;
    margin: 0 auto;
}

.slider643 input[name="switch643"] {
    display: none;
}

.switch643 {
    position: absolute;
    left: 0;
    bottom: -40px;
    text-align: center;
    width: 100%;
}

.switch643 label {
    display: inline-block;
    width: 16px;
    height: 16px;
    cursor: pointer;
    margin: 0 3px;
    border-radius: 50%;
    border: 5px solid black;
    border-color: white;
}

#button1:checked~.switch643 label[for="button2"] {
    background-color: white;
}

#button1:checked~.switch643 label[for="button3"] {
    background-color: white;
}

#button2:checked~.switch643 label[for="button1"] {
    background-color: white;
}

#button2:checked~.switch643 label[for="button3"] {
    background-color: white;
}

#button3:checked~.switch643 label[for="button1"] {
    background-color: white;
}

#button3:checked~.switch643 label[for="button2"] {
    background-color: white;
}

.slider__inner643 {
    overflow: hidden;
}

.slides643 {
    width: 300%;
    transition: all 0.5s;
}

.slides643 img {
    width: 500px;
    height: 500px;
    float: left;
    border-radius: 15px;
}

#button1:checked~.slider__inner643 .slides643 {
    transform: translate(0);
}

#button2:checked~.slider__inner643 .slides643 {
    transform: translate(-500px);
}

#button3:checked~.slider__inner643 .slides643 {
    transform: translate(-1000px);
}

/* ring643 end */

/* ring326 start */

.ring326 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0 110px;
    margin-bottom: 200px;
    padding-top: 100px;
    border-top: 1px solid white;
}

.slider326 {
    position: relative;
    width: 500px;
    margin: 0 auto;
}

.slider326 input[name="switch326"] {
    display: none;
}

.switch326 {
    position: absolute;
    left: 0;
    bottom: -40px;
    text-align: center;
    width: 100%;
}

.switch326 label {
    display: inline-block;
    width: 16px;
    height: 16px;
    cursor: pointer;
    margin: 0 3px;
    border-radius: 50%;
    border: 5px solid black;
    border-color: white;
}

#button_1:checked~.switch326 label[for="button_2"] {
    background-color: white;
}

#button_1:checked~.switch326 label[for="button_3"] {
    background-color: white;
}

#button_2:checked~.switch326 label[for="button_1"] {
    background-color: white;
}

#button_2:checked~.switch326 label[for="button_3"] {
    background-color: white;
}

#button_3:checked~.switch326 label[for="button_1"] {
    background-color: white;
}

#button_3:checked~.switch326 label[for="button_2"] {
    background-color: white;
}

.slider__inner326 {
    overflow: hidden;
}

.slides326 {
    width: 300%;
    transition: all 0.5s;
}

.slides326 img {
    width: 500px;
    height: 500px;
    float: left;
    border-radius: 15px;
}

#button_1:checked~.slider__inner326 .slides326 {
    transform: translate(0);
}

#button_2:checked~.slider__inner326 .slides326 {
    transform: translate(-500px);
}

#button_3:checked~.slider__inner326 .slides326 {
    transform: translate(-1000px);
}

/* ring326 end */

/* ring611 start */

.ring611 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0 110px;
    margin-bottom: 100px;
}

.slider611 {
    position: relative;
    width: 500px;
    margin: 0 auto;
}

.slider611 input[name="switch611"] {
    display: none;
}

.switch611 {
    position: absolute;
    left: 0;
    bottom: -40px;
    text-align: center;
    width: 100%;
}

.switch611 label {
    display: inline-block;
    width: 16px;
    height: 16px;
    cursor: pointer;
    margin: 0 3px;
    border-radius: 50%;
    border: 5px solid black;
    border-color: white;
}

#bttn1:checked~.switch611 label[for="bttn2"] {
    background-color: white;
}

#bttn1:checked~.switch611 label[for="bttn3"] {
    background-color: white;
}

#bttn2:checked~.switch611 label[for="bttn1"] {
    background-color: white;
}

#bttn2:checked~.switch611 label[for="bttn3"] {
    background-color: white;
}

#bttn3:checked~.switch611 label[for="bttn1"] {
    background-color: white;
}

#bttn3:checked~.switch611 label[for="bttn2"] {
    background-color: white;
}

.slider__inner611 {
    overflow: hidden;
}

.slides611 {
    width: 300%;
    transition: all 0.5s;
}

.slides611 img {
    width: 500px;
    height: 500px;
    float: left;
    border-radius: 15px;
}

#bttn1:checked~.slider__inner611 .slides611 {
    transform: translate(0);
}

#bttn2:checked~.slider__inner611 .slides611 {
    transform: translate(-500px);
}

#bttn3:checked~.slider__inner611 .slides611 {
    transform: translate(-1000px);
}

/* ring611 end */

/* earrings323 start */

.earrings323 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0 110px;
    margin-bottom: 200px;
    padding-top: 100px;
    border-top: 1px solid white;
}

.slider323 {
    position: relative;
    width: 500px;
    margin: 0 auto;
}

.slider323 input[name="switch323"] {
    display: none;
}

.switch323 {
    position: absolute;
    left: 0;
    bottom: -40px;
    text-align: center;
    width: 100%;
}

.switch323 label {
    display: inline-block;
    width: 16px;
    height: 16px;
    cursor: pointer;
    margin: 0 3px;
    border-radius: 50%;
    border: 5px solid black;
    border-color: white;
}

#bttn_1:checked~.switch323 label[for="bttn_2"] {
    background-color: white;
}

#bttn_2:checked~.switch323 label[for="bttn_1"] {
    background-color: white;
}

.slider__inner323 {
    overflow: hidden;
}

.slides323 {
    width: 300%;
    transition: all 0.5s;
}

.slides323 img {
    width: 500px;
    height: 500px;
    float: left;
    border-radius: 15px;
}

#bttn_1:checked~.slider__inner323 .slides323 {
    transform: translate(0);
}

#bttn_2:checked~.slider__inner323 .slides323 {
    transform: translate(-500px);
}

/* earrings323 end */

/* earrings325 start */

.earrings325 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0 110px;
}

.slider325 {
    position: relative;
    width: 500px;
    margin: 0 auto;
}

.slider325 input[name="switch325"] {
    display: none;
}

.switch325 {
    position: absolute;
    left: 0;
    bottom: -40px;
    text-align: center;
    width: 100%;
}

.switch325 label {
    display: inline-block;
    width: 16px;
    height: 16px;
    cursor: pointer;
    margin: 0 3px;
    border-radius: 50%;
    border: 5px solid black;
    border-color: white;
}

#bttn-1:checked~.switch325 label[for="bttn-2"] {
    background-color: white;
}

#bttn-2:checked~.switch325 label[for="bttn-1"] {
    background-color: white;
}

.slider__inner325 {
    overflow: hidden;
}

.slides325 {
    width: 300%;
    transition: all 0.5s;
}

.slides325 img {
    width: 500px;
    height: 500px;
    float: left;
    border-radius: 15px;
}

#bttn-1:checked~.slider__inner325 .slides325 {
    transform: translate(0);
}

#bttn-2:checked~.slider__inner325 .slides325 {
    transform: translate(-500px);
}

/* earrings325 end */

/* jewelry end */

/* VIDEOS PAGE */
/* start header */

.page-header {
    position: absolute;
    padding-top: 25px;
    width: 100%;
    /* position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; */
    /* background: black;
    border-bottom: 1px solid white;
    border-top: 1px solid white; */
    z-index: 1;
}

/* start videos*/

/* videos start */

.videos {
    background: linear-gradient(#4d4b4b, #09090e);
    padding-top: 200px;
    padding-bottom: 50px;
}

.video__item-frame {
    position: relative;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 50px; 
}

/* end videos*/

/* footer start */

.footer {
    background-image: url(../images/bg-footer.jpg);
    /* background-size: cover; */
    background-position: center;
    background-repeat: no-repeat;
    padding: 40px 0;
}

.footer__info {
    text-align: end;

}

.footer__info-title {
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    padding-bottom: 20px;

}

.footer__info-text {
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    padding-bottom: 20px;
}

.footer__info-text:last-child {
    padding-bottom: 0;
}

/* footer end */