html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    color: #000;
    /* font-family: 'Cormorant Upright', sans-serif; */
    font-family: 'Playfair Display', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.2;
    font-variant-numeric: lining-nums;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

button {
    border: none;
    padding: 0;
    cursor: pointer;
}

.header {
    position: absolute;
    left: 0;
    right: 0;
}

.container {
    max-width: 1180px;
    padding: 0 10px;
    margin: 0 auto;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;

}

nav {
    color: #fff;
}

.menu__list {
    display: flex;
    gap: 50px;
    font-size: 18px;
    font-weight: 600;
}

.menu__list-link:hover {
    text-decoration: underline;
}

/* main start */

/* section top start */

.main {
    background-color: #000;
}

.top {
    background-image: url(../images/bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    margin-bottom: 100px;

}

.top__title {
    position: relative;
    top: 450px;
    max-width: 570px;
    color: #fff;
    font-family: 'Dancing Script', cursive;
    font-size: 70px;
    font-weight: 700;
}

.top__title span {
    padding-left: 308px;
}

/* section top end */

/* jewelry start */

.jewelry {
    padding-bottom: 100px;
}

.jewelry__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0 80px;
    margin-bottom: 200px;
}

.right {
    /* padding-left: 50px;*/
    padding-top: 150px; 
    border-right: 1px solid white;
}

.left {
    /* padding-left: 50px; */
    padding-top: 150px;
    border-left: 1px solid white;
}


.jewelry__info {
    color: #fff;
    font-family: 'Cormorant Upright', sans-serif;
    /* font-family: 'Playfair Display', sans-serif; */
    text-align: center;    
}

.jewelry__title {
    /* font-family: 'Dancing Script', cursive; */
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    color: white;
    padding-bottom: 50px;
    text-transform: capitalize;

}

.jewelry__descr {
    font-weight: 400;
    font-size: 24px;
    line-height: 40px;
    color: white;
}

/* ring112 start */

.slider {
    position: relative;
    width: 500px;
    margin: 0 auto;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.75);
}

.slider input[name="switch"] {
    display: none;
}

.switch {
    position: absolute;
    left: 0;
    bottom: -40px;
    text-align: center;
    width: 100%;
}

.switch label {
    display: inline-block;
    width: 8px;
    height: 8px;
    cursor: pointer;
    margin: 0 3px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.8);
    border-radius: 50%;
    border: 5px solid black;
    border-color: white;
}

#btn1:checked~.switch label[for="btn2"] {
    background-color: white;
}

#btn1:checked~.switch label[for="btn3"] {
    background-color: white;
}

#btn2:checked~.switch label[for="btn1"] {
    background-color: white;
}

#btn2:checked~.switch label[for="btn3"] {
    background-color: white;
}

#btn3:checked~.switch label[for="btn1"] {
    background-color: white;
}

#btn3:checked~.switch label[for="btn2"] {
    background-color: white;
}


.slider__inner {
    overflow: hidden;
}

.slides {
    width: 300%;
    transition: all 0.5s;
}

.slides img {
    width: 500px;
    height: 500px;
    float: left;
    border-radius: 15px;
}

#btn1:checked~.slider__inner .slides {
    transform: translate(0);
}

#btn2:checked~.slider__inner .slides {
    transform: translate(-500px);
}

#btn3:checked~.slider__inner .slides {
    transform: translate(-1000px);
}

/* ring112 end */

/* ring309 start */

.ring309 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0 110px;
    margin-bottom: 100px;
}

.slider309 {
    position: relative;
    width: 500px;
    margin: 0 auto;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.75);
}

.slider309 input[name="switch309"] {
    display: none;
}

.switch309 {
    position: absolute;
    left: 0;
    bottom: -40px;
    text-align: center;
    width: 100%;
}

.switch309 label {
    display: inline-block;
    width: 8px;
    height: 8px;
    cursor: pointer;
    margin: 0 3px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.8);
    border-radius: 50%;
    border: 5px solid black;
    border-color: white;
}

#btn-1:checked~.switch309 label[for="btn-2"] {
    background-color: white;
}

#btn-1:checked~.switch309 label[for="btn-3"] {
    background-color: white;
}

#btn-2:checked~.switch309 label[for="btn-1"] {
    background-color: white;
}

#btn-2:checked~.switch309 label[for="btn-3"] {
    background-color: white;
}

#btn-3:checked~.switch309 label[for="btn-1"] {
    background-color: white;
}

#btn-3:checked~.switch309 label[for="btn-2"] {
    background-color: white;
}

.slider__inner309 {
    overflow: hidden;
}

.slides309 {
    width: 300%;
    transition: all 0.5s;
}

.slides309 img {
    width: 500px;
    height: 500px;
    float: left;
    border-radius: 15px;
}

#btn-1:checked~.slider__inner309 .slides309 {
    transform: translate(0);
}

#btn-2:checked~.slider__inner309 .slides309 {
    transform: translate(-500px);
}

#btn-3:checked~.slider__inner309 .slides309 {
    transform: translate(-1000px);
}

/* ring309 end */

/* ring551 slider start */

.ring551 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0 110px;
    margin-bottom: 200px;
    padding-top: 100px;
    border-top: 1px solid white;
}

.slider551 {
    position: relative;
    width: 500px;
    margin: 0 auto;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.75);
}

.slider551 input[name="switch551"] {
    display: none;
}

.switch551 {
    position: absolute;
    left: 0;
    bottom: -40px;
    text-align: center;
    width: 100%;
}

.switch551 label {
    display: inline-block;
    width: 8px;
    height: 8px;
    cursor: pointer;
    margin: 0 3px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.8);
    border-radius: 50%;
    border: 5px solid black;
    border-color: white;
}

#btn_1:checked~.switch551 label[for="btn_2"] {
    background-color: white;
}

#btn_1:checked~.switch551 label[for="btn_3"] {
    background-color: white;
}

#btn_2:checked~.switch551 label[for="btn_1"] {
    background-color: white;
}

#btn_2:checked~.switch551 label[for="btn_3"] {
    background-color: white;
}

#btn_3:checked~.switch551 label[for="btn_1"] {
    background-color: white;
}

#btn_3:checked~.switch551 label[for="btn_2"] {
    background-color: white;
}

.slider__inner551 {
    overflow: hidden;
}

.slides551 {
    width: 300%;
    transition: all 0.5s;
}

.slides551 img {
    width: 500px;
    height: 500px;
    float: left;
    border-radius: 15px;
}

#btn_1:checked~.slider__inner551 .slides551 {
    transform: translate(0);
}

#btn_2:checked~.slider__inner551 .slides551 {
    transform: translate(-500px);
}

#btn_3:checked~.slider__inner551 .slides551 {
    transform: translate(-1000px);
}

/* ring551 end */







/* jewelry end */



.footer {
    background-image: url(../images/bg-footer.jpg);
    /* background-size: cover; */
    background-position: center;
    background-repeat: no-repeat;
    padding: 40px 0;
}

.footer__info {
    text-align: end;
    
}

.footer__info-title {
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    padding-bottom: 20px;

}

.footer__info-text {
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    padding-bottom: 20px;
}

.footer__info-text:last-child {
    padding-bottom: 0;
}